name: 'C++ CI join'

on:
  push:
    branches:
      - 10-join
      - feature/github_actions
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    # runs-on: ubuntu-20.04
    permissions: write-all
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - run: sudo apt-get install -y libboost-all-dev libssl-dev
      - run: cmake . -DPATCH_VERSION=${{ github.run_number }}
      - run: cmake --build .
      - run: cmake --build . --target package
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.run_number }}
          release_name: Release ${{ github.run_number }}
          draft: false
          prerelease: false
      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./join_server-0.0.${{ github.run_number }}-Linux.deb
          asset_name: join_server-0.0.${{ github.run_number }}-Linux.deb
          asset_content_type: application/vnd.debian.binary-package