name: 'C++ CI'
permissions:
  contents: write

on:
  push:
    branches:
      - print-ip
      - feature/github_actions
  workflow_dispatch:

jobs:
  documentation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      # Build the HTML documentation
      - name: Doxygen Action
        uses: mattnotmitt/doxygen-action@v1.1.0
        with:
          doxyfile-path: ./Doxyfile
          working-directory: .

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.4.3
        with:
            folder: "docs/html"      # specify doxygen output directory, see: OUTPUT_DIRECTORY, HTML_OUTPUT in Doxyfile 